{% extends 'base.html' %}

{% block content %}

<div class="content">
    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">B.E. COMPUTER SCIENCE</b>
    </p>
    <span style="opacity: 0.4; color: rgb(218, 214, 214); font-family: monospace;" class="badge bg-dark mx-3">2018 - 2022</span>
    <ul class="pt-1">
        <li style="font-family: Arial, Helvetica, sans-serif;">
            <b>Institute - </b> All India Shivaji Memorial Society's College Of Engineering
        </li>
        <li style="font-family: Arial, Helvetica, sans-serif;" ><b>Location - </b> Pune, Maharashtra India.</li>
        <li style="font-family: Arial, Helvetica, sans-serif;"><b>SGPA - </b> 9.00 (till 6th sem)</li>
    </ul>
    <br>
    <br>
    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">HIGHER SECONDARY SCIENCE STREAM</b>
    </p>
    <span style="opacity: 0.4; color: rgb(218, 214, 214); font-family: monospace;" class="badge bg-dark mx-3">2016 - 2018</span>
    <ul class="pt-1">
        <li style="font-family: Arial, Helvetica, sans-serif;">
            <b>Institute - </b> Jagadambha Jr. Science College
        </li>
        <li style="font-family: Arial, Helvetica, sans-serif;" ><b>Location - </b> Yavatmal, Maharashtra India.</li>
        <li style="font-family: Arial, Helvetica, sans-serif;"><b>Percentage - </b> 89.23</li>
    </ul>
    <br>
    <br>
    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">SECONDARY HIGH SCHOOL</b>
    </p>
    <span style="opacity: 0.4; color: rgb(218, 214, 214); font-family: monospace;" class="badge bg-dark mx-3">2006 - 2016</span>
    <ul class="pt-1">
        <li style="font-family: Arial, Helvetica, sans-serif;">
            <b>Institute - </b> Loknayak Bapuji Aney High School
        </li>
        <li style="font-family: Arial, Helvetica, sans-serif;" ><b>Location - </b> Yavatmal, Maharashtra India.</li>
        <li style="font-family: Arial, Helvetica, sans-serif;"><b>Percentage - </b> 95.60</li>
    </ul>
</div>



{% endblock content %}