{% extends 'base.html' %}

{% block content %}

<div class="content">
    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">E-Commerce Website</b>
    </p>
    <span style="opacity: 0.4; color: rgb(218, 214, 214);" class="badge bg-dark mx-3">Under Development</span>
    <ul class="pt-1">
        <li style="font-family: Arial, Helvetica, sans-serif;">
            <b>Urban Roots</b> a dynamic website built using <b>Django</b> as a backend
            framework.
        </li>
        <li>Developed frontend using <b>HTML, CSS, and BootStrap</b>.</li>
        <li>This is currenly under development. See <a href="https://github.com/vaibhavd21/Emart">here.</a></li>
    </ul>

    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">To Do List Web Application</b>
    </p>
    <ul>
        <li style="font-family: Arial, Helvetica, sans-serif;">
            A Todo List app where you can add, delete and update your task set. Designed with the help of <b>HTML,
                CSS(BootStrap)</b>, used
            <b>Django and SQLite</b> as a backend.
        </li>
        <li>Deployed on <b>Heroku</b>. See <a href="https://task-list-wapp.herokuapp.com/">here.</a></li>
    </ul>

    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">Perfect-Health an Android Application</b>
    </p>
    <ul>
        <li style="font-family: Arial, Helvetica, sans-serif;">
            Developed a <b>Yoga and Meditation app</b> with 1 week of the course
            section. It is a team project and I am responsible for <b>backend</b> and
            basic UI design.
        </li>
        <li>see <a href="https://github.com/vaibhavd21/MeditateApp">here.</a></li>
    </ul>

    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">Cowin Slots Finder Bot</b>
    </p>
    <span style="opacity: 0.4; color: rgb(218, 214, 214);" class="badge bg-dark mx-3">Under Development</span>
    <ul class="pt-1">
        <li style="font-family: Arial, Helvetica, sans-serif;">
            Scraped the data from <b>API Setu</b>. Understood
            the hierarchy of data and sent the message
            on <b>Telegram</b> as the slots get available.
        </li>
        <li><a href="https://t.me/CowinSlotsFinder">Telegram</a> channel has now more than 500 members.</li>
        <li>See <a href="https://github.com/vaibhavd21/CowinBotForFindingSlots">here.</a></li>
    </ul>

    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">Social Media Integration</b>
    </p>
    <ul>
        <li style="font-family: Arial, Helvetica, sans-serif;">
            This android app was built as an <b>android intern</b> at the <b>Sparks Foundation</b>.
        </li>
        <li>Integrated the logins using <b>Facebook</b> and <b>Google</b> in one
            place.</li>
        <li>See <a href="https://github.com/vaibhavd21/Social-Media-Integration">here.</a></li>
    </ul>

    <p
        style="text-align: left; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 23px; color: rgb(223, 245, 200); border-left: 4px solid rgb(117, 114, 114);">
        <b class="mx-2">Basic Bank Management System</b>
    </p>
    <span style="opacity: 0.4; color: rgb(218, 214, 214);" class="badge bg-dark mx-3">Under Development</span>
    <ul class="pt-1">
        <li style="font-family: Arial, Helvetica, sans-serif;">
            This web app was built as an <b>web intern</b> at the <b>Sparks Foundation</b>.
        </li>
        <li>Deployed over <a href="https://banking-system-d21.herokuapp.com/"><b>Heroku</b></a></li>
        <li>See <a href="https://github.com/vaibhavd21/Banking-System">here.</a></li>
    </ul>
</div>



{% endblock content %}